body,
.search-results .searchinput,
.mob-header .searchinput {
    color: var(--blacktext);
}

.mob-header,
.mob-header button,
.site-aside,
.searchbtn,
.headerlogin,
.headerregister,
.timestamp,
.searchsubmit,
.searchoverlay .searchinput,
.mod .click-here {
    color: var(--whitetext);
}

.mob-header {
    background-color: var(--primary);
}

.site-aside {
    background-color: var(--darkui);
    @media #{$des} {
        background-color: var(--primary);
    }
}

.timestamp,
.searchsubmit,
.mod .click-here {
    background-color: var(--tertiary);
}

.headerplaidslot,
.site-footer,
.single .site-aside {
    background-color: var(--darkui);
}

.main-wrap,
.single .main-wrap,
.single .headerplaidslot,
.grid-item,
.divider>.wrapper,
.mob-header .searchinput {
    background-color: var(--whitebg);
}

.searchoverlay {
    background-color: rgba(0, 0, 0, 0.9);
}

.shbtn.fb {
    color: var(--fbblue);
}

.shbtn.tw {
    color: var(--twblue);
}

.post-category,
.post-content h2>a,
.post-content h3>a,
.post-content h4>a,
.breadcrumbs .breadcrumb_last,
.archive .page-header .related-categories a {
    color: var(--tertiary);
}

.divider {
    background-color: rgba(#121212, 0.2);
}

@media #{$des} {
    .single .mob-header .searchform button[type="submit"] {
        background-color: var(--tertiary);
    }
}