.mgbox {
    max-width: 100% !important;
    .row1,
    .row2,
    .row3,
    .row4 {
        max-width: 100% !important;
    }
}

.newsletter-launcher {
    position: relative;
    &:before {
        content: '';
        display: block;
        width: 100%;
        padding: 0 0 41.875% 0;
    }
    >.wrapper {
        @include absoStretch;
    }
}