.mob-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 48px 1fr auto auto;
    align-items: center;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: top 0.25s ease-out;
    >* {
        padding: 0 8px;
        .show-menu & {
            opacity: 0;
        }
    }
    .site-logo {
        >a {
            display: inline-block;
            width: var(--moblogowidth);
        }
    }
    .scrD & {
        top: -100px;
    }
    .scrD.show-menu & {
        top: 0;
    }
    .searchform {
        display: none;
    }
    @media #{$des} {
        display: none;
        .single & {
            display: grid;
            grid-template-columns: 48px auto 1fr auto;
            .searchform {
                display: block;
            }
            .searchbtn {
                display: none;
            }
        }
    }
    @media #{$des} {
        .searchform>form {
            display: flex;
            width: 100%;
            justify-content: center;
            .searchinput {
                width: 50%;
                padding: 8px;
                border-radius: 4px 0 0 4px;
                border: 0 none;
                font-size: 14px;
            }
            button[type="submit"] {
                padding: 8px 12px;
                border-radius: 0px 4px 4px 0px;
                border: 0 none;
                font-size: 14px;
            }
        }
    }
}

.menbtn {
    width: 48px;
    padding: 0;
    transition: transform 0.25s ease-in-out;
    z-index: 1;
    cursor: pointer;
    .line {
        fill: none;
        stroke: var(--menbtnstrokecolor);
        stroke-width: var(--menbtnstrokewidth);
        transition: stroke-dasharray 1s cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: var(--menbtnstrokewidth);
    }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: var(--menbtnstrokewidth);
    }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: var(--menbtnstrokewidth);
    }
    .show-menu & {
        .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: var(--menbtnstrokewidth);
        }
        .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: var(--menbtnstrokewidth);
        }
        .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: var(--menbtnstrokewidth);
        }
    }
    .show-menu & {
        opacity: 1;
        transform: translateX(var(--asidewidth));
    }
}

.headerregister {
    display: none;
    @media #{$tab} {
        display: block;
    }
}