$tab:"(min-width:768px)";
$des:"(min-width:1024px)";
$des2:"(min-width:1366px)";
$des3:"(min-width:1680px)";
:root {
    --thAs: 56.25%;
    --asidewidth: 250px;
    --moblogowidth: 170px;
    --menbtnstrokewidth: 8px;
}

$primary:#004a10;
$secondary:#0c611d;
$tertiary:#ff8103;
:root {
    --menbtnstrokecolor: #FFFFFF;
    --fbblue: #3b5998;
    --twblue: #1DA1F2;
    --ytred: #FF0000;
    --ptred: #c8232c;
    --primary: #004a10;
    --secondary: #0c611d;
    --tertiary: #ff8103;
    --blacktext: #212121;
    --whitetext: #FFFFFF;
    --whitebg: #FFFFFF;
    --darkbg: #121212;
    --darkui: #202020;
}

$shH:50px;
@mixin absoStretch {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@mixin textdeco($color, $underline, $hovercolor, $hoverunderline) {
    color: $color;
    font-weight: var(--weightbold);
    text-decoration: none;
    background-image: linear-gradient(transparent 22px, $underline 0);
    padding: 0 0 4px 0;
    @media #{$des} {
        &:hover {
            color: $hovercolor;
            background-image: linear-gradient(transparent 22px, $hoverunderline 0);
        }
    }
}

@mixin iconstuff {
    color: rgba(0, 0, 0, 0.15);
    font-size: 48px;
    font-family: "icomoon";
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    position: absolute;
    z-index: -1;
}

@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@media #{$tab} {
     :root {
        --asidewidth: 250px;
    }
}

@media #{$des3} {
     :root {
        --asidewidth: 250px;
    }
}