.fb {
    background: var(--fbblue);
}

.tw {
    background: var(--twblue);
}

.pt {
    background: var(--ptred);
}

.yt {
    background: var(--ytred);
}

.ig {
    background: radial-gradient(circle farthest-corner at 32% 106%, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), linear-gradient( 135deg, #234bd7 12%, #c33cbe 58%);
}

.social-btns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-gap: 4px;
    >.social-btn {
        >a {
            color: white;
            line-height: 1;
            display: inline-block;
            padding: 8px 10px;
        }
    }
}

.social-share {
    text-align: center;
    padding: 16px 0;
    >.wrapper {
        position: sticky;
        top: 50px;
    }
}

.shbtn {
    background: rgba(0, 0, 0, 0);
    padding: 16px 4px;
    &.lab {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.35);
    }
}