@use '../abstracts/' as *;
//
.page-template-blank--hidden_nav {
    .pageheader {
        padding: 0 1rem;
        h1 {
            margin: 0 0 1rem 0;
        }
    }
    .mclist .grid {
        grid-gap: 1rem;
    }
    @media #{$tab} {
        .gridcols {
            display: grid;
            grid-template-columns: 1fr 320px;
            grid-gap: 3rem;
            max-width: 1680px;
            padding: 1rem;
            margin: 1rem auto 0;
        }
        .site-sidebar {
            position: sticky;
            top: $siteheaderheight + $catnavheight;
            .goingdown & {
                top: $siteheaderheight;
            }
            .goingup & {
                top: $siteheaderheight + $catnavheight;
            }
        }
    }
    @media #{$des} {
        .site-wrapper {
            grid-template-areas: 'aside alert' 'aside header' 'aside plaid' 'aside nav' 'aside main' 'footer footer';
            grid-template-columns: 0 1fr;
        }
        .sidebarmenu {
            position: fixed;
            transform: translateX(calc(-1 * var(--asidewidth)));
        }
        .mclist .grid {
            grid-gap: 0.5rem;
        }
    }
}