@use '../abstracts/' as *;
//
@mixin showmen {
    opacity: 0.025;
    pointer-events: none;
}

body {
    &.show-menu {
        overflow: hidden;
        background-color: black;
    }
}

.show-menu {
    .site-wrapper {
        >* {
            &:not(.mob-header):not(.sidebarmenu) {
                @include showmen();
            }
        }
    }
    .mob-header {
        >* {
            &:not(.menbtn) {
                @include showmen();
            }
        }
    }
}

.site-wrapper {
    display: grid;
    grid-template-areas: 'aside alert' 'aside header' 'aside plaid' 'aside nav' 'aside main' 'footer footer';
    grid-template-columns: 0 1fr;
}

.mob-header {
    grid-area: header;
}

.category-nav {
    grid-area: nav;
}

.header-alert.above {
    grid-area: alert;
}

.headerplaidslot {
    grid-area: plaid;
}

.sidebarmenu {
    grid-area: aside;
}

.main-wrap {
    width: 100%;
    min-height: 100vh;
    grid-area: main;
}

.site-main {
    // max-width: 1366px;
    // margin: auto;
}

.site-footer {
    min-height: 3.125rem;
    grid-area: footer;
}

@media #{$des} {
    .gridcols {
        max-width: 1680px;
        grid-template-columns: 1fr 320px;
        grid-gap: 2rem;
        padding: 1rem;
        margin: auto;
    }
    .site-sidebar {
        position: sticky;
        top: calc($siteheaderheight * 2);
    }
}