@use '../abstracts/' as *;
//
.site-wrapper {
    display: grid;
    grid-template-areas: 'aside alert' 'aside header' 'aside plaid' 'aside nav' 'aside main' 'footer footer';
    grid-template-columns: 0fr;
    @media #{$des} {
        grid-template-columns: var(--asidewidth) 1fr;
    }
}

.mob-header {
    grid-area: header;
}

.header-alert.above {
    grid-area: alert;
}

.headerplaidslot {
    grid-area: plaid;
}

.sidebarmenu {
    grid-area: aside;
}

.main-wrap {
    min-height: 100vh;
    grid-area: main;
    @media #{$tab} {
        .archive & {
            display: grid;
            grid-template-columns: 1fr 300px;
            grid-gap: 16px;
            padding: 8px;
        }
        .search & {
            padding: 16px;
        }
    }
    @media #{$des} {
        .search & {
            display: grid;
            grid-template-columns: 1fr 300px;
            grid-gap: 16px;
        }
        .archive & {
            padding: 16px;
        }
    }
    @media #{$des2} {
        .search & {
            grid-gap: 48px;
        }
        .archive & {
            padding: 16px 48px;
            grid-gap: 48px;
        }
    }
}

.site-main {
    padding: 2rem 0;
    @media #{$tab} {
        padding: 2rem 1rem;
    }
    @media #{$des} {
        //padding: 16px;
        .search & {
            order: 1
        }
    }
    @media #{$des2} {
        padding: 2rem 3rem;
    }
    @media #{$des3} {
        padding: 4rem;
    }
}

.site-footer {
    min-height: 50px;
    grid-area: footer;
}

// .category-nav {
//     position: sticky;
//     top: $shH;
//     grid-area: nav;
//     z-index: 1;
//     transition: top 0.25s ease-out;
//     overflow-x: auto;
//     overflow-y: hidden;
//     box-shadow: 0 0 0 rgba(0, 0, 0, 0);
//     transition: box-shadow 0.25s ease-out;
//     .scrD &,
//     .scrU & {
//         box-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
//     }
//     .scrD & {
//         top: 0;
//     }
//     .scrD.show-menu & {
//         top: $shH;
//     }
//     @media #{$des} {
//         top: 0;
//         padding: 8px 16px;
//     }
//     @media #{$des2} {
//         overflow-x: visible;
//         overflow-y: visible;
//     }
// }
// .site-logo {
//     width: 100%;
//     @media #{$des} {
//         .mob-header & {
//             width: var(--moblogowidth);
//         }
//     }
// }
.most-recent {
    >.wrapper {
        display: grid;
        grid-gap: 16px;
    }
}

.searchbtn {
    //width: 35px; 
}