@use '../abstracts/' as *;
//
.grid-item {
    >a,
    >a>.wrapper {
        height: 100%;
        position: relative;
    }
    >a {
        display: block;
    }
    .thumb-wrapper {
        .timestamp {
            line-height: 1;
            font-size: 0.6rem;
            font-weight: bold;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0.25rem;
            border-radius: 0.25rem;
            margin: 0.25rem;
        }
    }
    .item-body {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        header {
            margin: 0 0 0.5rem 0;
        }
        >p {
            font-size: clamp(0.8rem, 0.7431rem + 0.5351vw, 0.9rem);
            line-height: clamp(1.2rem, 0.7431rem + 0.5351vw, 1.4rem);
            max-height: 2.6rem;
            overflow: hidden;
            -webkit-line-clamp: 2;
            display: flex;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            white-space: normal;
            margin: 0;
        }
    }
    footer {
        font-size: $smfontsize;
        text-transform: uppercase;
    }
    .thL & {
        >a>.wrapper {
            display: grid;
            grid-template-columns: 190px 1fr;
            align-items: center;
            >* {
                width: 100%;
            }
        }
    }
    .thL-t & {
        @media #{$tab} {
            >a>.wrapper {
                display: grid;
                grid-template-columns: 190px 1fr;
                align-items: center;
                >* {
                    width: 100%;
                }
            }
        }
    }
    .thL-d & {
        @media #{$des} {
            >a>.wrapper {
                display: grid;
                grid-template-columns: 33.33333% 1fr;
                align-items: center;
                >* {
                    width: 100%;
                }
            }
        }
    }
    .thL-d2 & {
        @media #{$des2} {
            >a>.wrapper {
                display: grid;
                grid-template-columns: 33.33333% 1fr;
                align-items: center;
                >* {
                    width: 100%;
                }
            }
        }
    }
    @media #{$des} {
        .site-sidebar & {
            h3 {
                padding: 0;
                >span {
                    font-size: 1rem;
                    line-height: 1.2rem;
                    max-height: 2.4rem;
                }
            }
        }
    }
    @media #{$des2} {
        .site-sidebar & {
            h3 {
                >span {
                    font-size: 1rem;
                    line-height: 1.2rem;
                    max-height: 2.4rem;
                }
            }
        }
    }
}