@use '../abstracts/' as *;
//
.thumb-wrapper {
    position: relative;
}

.thumb {
    overflow: hidden;
    position: relative;
    >.wrapper {
        @include mcStretch(absolute);
    }
    img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
    &:before {
        content: '';
        width: 100%;
        display: block;
        padding-bottom: var(--thAs);
    }
    &.squarethumb {
        &:before {
            content: '';
            width: 100%;
            display: block;
            padding-bottom: 100%;
        }
    }
    .grid-item.video & {
        &:after {
            content: url(images/playbtnoverlay.svg);
            width: 25%;
            max-width: 85px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .ov &,
    .bgGrad & {
        &:after {
            content: '';
            @include mcStretch(absolute);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        }
    }
}