@use '../abstracts/' as *;
//
.category-nav {
    line-height: 1;
    height: $catnavheight;
    display: flex;
    align-items: center;
    z-index: 2;
    overflow-x: auto;
    overflow-y: hidden;
    .menu {
        display: flex;
        white-space: nowrap;
        height: $catnavheight;
        align-items: center;
        .menu-item {
            position: relative;
            a {
                line-height: 0;
                display: block;
                padding: calc($catnavheight / 2);
            }
            &:hover {
                >.sub-menu {
                    display: grid;
                }
            }
        }
    }
    .sub-menu {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        .sub-menu {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            z-index: 1;
        }
    }
    @media #{$des} {
        padding: 8px 16px;
    }
    @media #{$des2} {
        overflow-x: visible;
        overflow-y: visible;
    }
}