@use '../abstracts/' as *;
//
.mob-header {
    line-height: 1;
    display: flex;
    align-items: center;
    max-height: $siteheaderheight;
    >.searchform {
        flex: auto;
        background-color: transparent;
        >form {
            display: none;
        }
    }
    .searchinput {
        width: 18rem;
    }
    .social {
        display: none;
    }
    @media #{$tab} {
        .searchform {
            >form {
                max-width: 18rem;
                margin: auto;
                display: flex;
            }
        }
    }
    @media #{$des} {
        //display: none;
        .searchinput {
            width: 25rem;
        }
        .social {
            display: block;
        }
        .single &,
        .page-template-nosidebar_blank--hidden_nav &,
        .page-template-blank--hidden_nav & {
            display: flex;
        }
    }
}

.headerbtns {
    display: none;
    align-items: center;
    gap: 1rem;
    padding: 0 0.5rem;
    @media #{$ph} {
        display: flex;
    }
    >.searchbtn {
        @media #{$tab} {
            display: none;
        }
    }
}

.headerregister {
    display: none;
    @media #{$tab} {
        display: inline-block;
    }
}