@use '../abstracts/' as *;
//
.thumb {
    overflow: hidden;
    position: relative;
    &:before {
        content: '';
        width: 100%;
        display: block;
        padding-bottom: $sixnine;
    }
    >.wrapper {
        @include mcStretch(absolute);
        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }
    }
}