$siteheadercolor: #000000;
$menbtncolor: #cccccc;
//
//BLACKS
$black:#000000;
$darkblack:#121212;
$medblack:#090909;
$lightblack:#202020;
//
//GRAYS
$darkgray:#333333;
$medgray:#656565;
$lightgray:#CCCCCC;
//
//WHITES
$white:#FFFFFF;
//
//ACCENTS
$accent:#ef3e25;
//
//UI
$errorcolor:#CC0000;