$siteheadercolor: #000000;
$menbtncolor: #cccccc;
//
//BLACKS
$black:#000000;
$drkblack:#121212;
$mdblack:#090909;
$ltblack:#202020;
//
//GRAYS
$dkgray:#333333;
$mdgray:#656565;
$ltgray:#CCCCCC;
//
//WHITES
$white:#FFFFFF;
//
//ACCENTS
$accent:#ef3e25;
//
//UI
$errorcolor:#CC0000;
//PROPS
:root {
    --fbblue: #3b5998;
    --twblue: #1DA1F2;
    --ytred: #FF0000;
    --ptred: #c8232c;
    --primary: #004a10;
    --secondary: #0c611d;
    --tertiary: #ff8103;
    --blacktext: #212121;
    --whitetext: #FFFFFF;
    --whitebg: #FFFFFF;
    --darkbg: #121212;
    --darkui: #202020;
}