.menu {
    .category-nav & {
        display: flex;
        white-space: nowrap;
        li {
            a {
                padding: 8px 16px;
                display: block;
            }
        }
    }
    .menu-item {
        position: relative;
        // &.menu-item-has-children {
        //     display: flex;
        //     &:after {
        //         content: '\25BC';
        //     }
        // }
        &:hover {
            >.sub-menu {
                display: grid;
            }
        }
    }
}

.sub-menu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    .sub-menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        box-shadow: 0 0 2px black;
        z-index: 1;
    }
}